@import url("__link/feinman__link.css");
@import url("__photo/feinman__photo.css");
@import url("__title/feinman__title.css");
@import url("__subtitle/feinman__subtitle.css");

.feinman {                                            /*Фейнман*/
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    height: 790px;
}





